<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- mysql,sqlserver -->
    <add key="dbtype" value="sqlserver"/>
    <add key="namesapce" value="Aix.ORMSample.Entity"/>
    <add key="entityDirectory" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="maindb1" connectionString="server=10.240.225.136;port=3306;database=vip_site_v2;uid=root;pwd=Welcome@456;charset=utf8;Connection Timeout=18000;"/>
    <add name="maindb2" connectionString="server=192.168.102.108;port=3306;database=demo;uid=relic;pwd=jdK0Xgs9arbk@;charset=utf8mb4;Connection Timeout=18000;SslMode=none;"/>
    <add name="maindb" connectionString="Server=.;Database=Demo;User Id=sa;Password=123456;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
